<div class="content">
  <app-menu-bar></app-menu-bar>

  <button pButton pRipple label="Atrás" icon="pi pi-arrow-left" class="p-button-success p-mr-2 back-button"
          (click)="goToBack()"></button>

  <div class="card card-detail">
    <h3 class="p-col p-d-flex p-ai-center p-jc-center">Detalles del Equipo</h3>
    <p-splitter [style]="{'height': '100px'}" styleClass="p-mb-5 p-splitter p-component p-splitter-horizontal">
      <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
          <p-avatar [image]="teamDetail.logoUrl" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
          Nombre: {{teamDetail.name}}
        </div>
      </ng-template>
      <ng-template pTemplate>
        <div class="p-col p-d-flex p-ai-center p-jc-center">
          Liga: {{league.name}}
          <p-avatar [image]="league.logoUrl" styleClass="p-mr-2" size="xlarge" shape="circle"></p-avatar>
        </div>
      </ng-template>
    </p-splitter>
  </div>
  <div *ngIf="players.length>0; else espera">
    <app-table [dataTable]="players" [columnNameTable]="playersColumnName" [title]="titleTable" [showActions]="false"
               [playerService]="playerService"></app-table>
  </div>
  <ng-template #espera>Esperando datos...</ng-template>
</div>
<router-outlet></router-outlet>
