.background {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  background-color: #000;
  background: url('../../assets/img/index_photo.jpg')  no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.welcome-card{
  display: block;
  width: 27rem;
  margin-top: 12rem;
  margin-left: 3rem ;
}
