/* You can add global styles to this file, and also import other style files */
body {
  font-family: var(--font-family);
}

.card {
  background: var(--surface-e);
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
  border-radius: 4px;
  margin-bottom: 2rem
}

h6, h5, h4, h3, h2, h1 {
  font-family: inherit;
  color: #495057;
}

.p-field {
  margin-bottom:1rem
}
.p-field>label {
  display:inline-block;
  margin-bottom:.5rem
}

.p-button{
  margin-right:.5rem;
}


