<div class="tabla-section">
  <h1>{{title}}</h1>
  <p-toast></p-toast>

  <div class="card">
    <p-toolbar *ngIf="showActions===true" styleClass="p-mb-4">
      <ng-template pTemplate="left">
        <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-mr-2"
                (click)="openNew()"></button>
        <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger"
                (click)="deleteSelectedElements()" [disabled]="!selectedElements || !selectedElements.length"></button>
      </ng-template>
    </p-toolbar>

    <p-table #dt [value]="elements" [rows]="10" [paginator]="true"
             [globalFilterFields]="['name','country.name','representative.name','status']" responsiveLayout="scroll"
             [(selection)]="selectedElements" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
      <ng-template pTemplate="caption">
        <div class="p-d-flex p-ai-center p-jc-between">
          <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Buscar..."/>
                </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th style="width: 3rem">
            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
          </th>
          <ng-container *ngFor="let col of columnNameTable">
            <ng-container *ngIf="col === 'Logo' || col=== 'Avatar'">
              <th [style]="{width: 100/columnNameTable.length+'px'}">{{col}}</th>
            </ng-container>
            <ng-container *ngIf="col==='Nombre'">
              <th pSortableColumn="name" [style]="{width: 100/columnNameTable.length+'px'}">{{col}}
                <p-sortIcon field="name"></p-sortIcon>
              </th>
            </ng-container>
            <!--            <ng-container *ngIf="col==='Equipo'">-->
            <!--              <th pSortableColumn="teamId" [style]="{width: 100/columnNameTable.length+'px'}">{{col}}-->
            <!--                <p-sortIcon field="teamId"></p-sortIcon>-->
            <!--              </th>-->
            <!--            </ng-container>-->
          </ng-container>

          <th [style]="{width: 100/columnNameTable.length+'px'}">Acciones</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-element>
        <tr>
          <td>
            <p-tableCheckbox [value]="element"></p-tableCheckbox>
          </td>
          <ng-container *ngIf="columnNameTable[0] === 'Logo'">
            <td>
              <p-avatar [image]="element.logoUrl" styleClass="p-mr-2" shape="circle"
              ></p-avatar>
            </td>
          </ng-container>
          <ng-container *ngIf="columnNameTable[0] === 'Avatar'">
            <td>
              <p-avatar [image]="element.avatarUrl" styleClass="p-mr-2" shape="circle"
              ></p-avatar>
            </td>
          </ng-container>

          <td>{{element.name}}</td>
          <!--          <td *ngIf="title==='Jugadores'">{{getTeamById(element.teamId)}}</td>-->
          <td>
            <button pButton pRipple icon="pi pi-eye" class="p-button p-button-rounded p-button-secondary"
                    (click)="viewDetails(element)"></button>

            <ng-container *ngIf="showActions===true">

              <button pButton pRipple icon="pi pi-pencil" class="p-button p-button-rounded p-button-success p-mr-2"
                      (click)="editElement(element)"></button>

              <button pButton pRipple icon="pi pi-trash" class="p-button p-button-rounded p-button-danger"
                      (click)="deleteElement(element)"></button>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="summary">
        <div class="p-d-flex p-ai-center p-jc-between">
          Total: {{elements ? elements.length : 0 }} elementos.
        </div>
      </ng-template>
    </p-table>
  </div>
</div>

<p-dialog [(visible)]="elementDialog" [style]="{width: '450px', 'height': '600px'}" header="{{modalTitle}}" [modal]="true"
          styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Nombre*</label>
      <input type="text" pInputText id="name" [(ngModel)]="element.name" required autofocus/>
      <small class="p-error" *ngIf="submitted && !element.name">Nombre es requerido</small>
    </div>

    <div class="p-field" *ngIf="title==='Equipos'">
      <label for="logo">Url del logo*</label>
      <input type="text" pInputText id="logo" [(ngModel)]="element.logoUrl" required autofocus/>
      <small class="p-error" *ngIf="submitted && !element.logoUrl">Url del logo es requerido</small>
    </div>

    <div class="p-field" *ngIf="title==='Jugadores'">
      <label for="avatar">Url del logo*</label>
      <input type="text" pInputText id="avatar" [(ngModel)]="element.avatarUrl" required autofocus/>
      <small class="p-error" *ngIf="submitted && !element.avatarUrl">Url del avatar es requerido</small>
    </div>

    <div class="p-field" *ngIf="title==='Jugadores'">
      <label for="avatar">Equipo*</label>
      <p-dropdown [options]="getTeamForSelect()" [(ngModel)]="team" placeholder="Seleccione un equipo" [virtualScroll]="true" [itemSize]="31" [filter]="false"></p-dropdown>
      <small class="p-error" *ngIf="submitted && !element.teamId">El equipo es requerido</small>
    </div>


  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveElement()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
